.about-us {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.about-us > span {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.2rem;
  font-weight: 500;
}

.about-us > div {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.about-us > div p {
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
}

.about-us .icons {
  margin-top: 30px;
}
.about-us .icons i {
  font-size: 1.6rem;
  margin-right: 10px;
}
.about-us .icons a:last-child i {
  margin-right: 0;
}
