.container > * {
  margin: 0 10vw;
  width: calc(100% - 20vw);
}
.main{
  min-height: calc(100vh - 305px);
}

.container footer {
  margin: 0;
  width: 100%;
}

@media (max-width: 800px) {
  .container {
    margin: 0 0;
  }
}

.container header {
  height: 120px;
  display: flex;
  padding-top: 10px;
}

.container header img {
  width: auto;
  height: 100%;
}
.container header a.logo {
  width: 110px;
}

.container header > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding-top: 10px;
}

.container header > div > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.container header .icons {
  display: flex;
}

.container header i {
  color: var(--primaryColor);
  font-size: 1.2rem;
  font-weight: 400;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  cursor: pointer;
}

.container header i:hover {
  color: var(--link-selection);
}

.container header .input {
  width: calc(100% - 160px);
  min-width: 300px;
  min-height: 32px;
  margin-left: 20px;
}
.container header .input img {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 80%;
  top: 10%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container header .input input {
  padding-right: 40px;
}

.container header i:first-child {
  margin-right: 5px;
}
